.spacer {
  flex: 1 1 auto;
}

.brand {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.active-link {
  color: var(--mat-sys-primary);
  font-weight: bold;
}

.logo {
  height: 40px;
  cursor: pointer;
}
